@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
html, body {
    font-family: "Noto Sans KR", sans-serif !important;
    background: #b1bfcf;
    color: #4a4a4a !important;
    overflow: hidden;
    touch-action: pan-y;
}

#background {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #b1bfcf;
}

.message_box {
    max-width: 480px;
    border-radius: 40px;
    position: fixed;
    z-index: 2;
    width: 100vw;
    min-height: 90vh !important;
    max-height: 90vh !important;
    box-shadow: 20px 20px 30px 0 rgba(0,0,0,0.1);
    padding: 10px 30px;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    background: #e9f1f9;
}

.jk-bold {
    font-weight: bold;
}

.jk-flex {
    display: flex;
}

.jk-mr-auto {
    margin-right: auto;
}

.jk-title {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3), -2px -2px 4px white;
    color: #4a4a4a;
}

.jk-title a {
    color: #7b7b7b;
}
.jk-title a:hover,
.jk-title a:focus,
.jk-title a:active,
.jk-title a:visited {
    color: #757575;
}

.jk-list {
    display: flex;
    cursor: pointer;
}

.jk-list .jk-list-info {
    display: flex;
    flex-direction: column;
}

.jk-list .jk-list-img {
    width: 50px;
    height: 50px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../images/icon_music.svg");
}

.jk-list .jk-list-info .jk-list-title {
    font-weight: bold;
    flex: 1;
    color: #4a4a4a;
}

.jk-list .jk-list-info .jk-list-artist {
    flex: 1;
    color: #757575;
}

.jk-list-border-bottom .jk-list {
    border-bottom: 1px solid #b1bfcf;
}

.jk-list-border-bottom .columns:last-child .jk-list {
    border-bottom: none;
}

.jk-gallery .jk-gallery-img {
    width: 100%;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../images/icon_picture.svg");
}

.jk-gallery .jk-gallery-info .jk-gallery-title {
    font-weight: bold;
    flex: 1;
    color: #4a4a4a;
}
/*
.jk-color-main {
    color: #d74c87;
}
.jk-color-main:hover {
    color: #b44071 !important;
}

.jk-color-second {
    color: #8256c8 !important;
}
.jk-color-second:hover {
    color: #6c46a8 !important;
}
*/

.jk-w-100 {
    width: 100%;
}

.jk-scroll:not(.main) {
    display: unset !important;
}

.jk-scroll {
    height: 50vh;
    overflow: auto;
    margin: 1rem 0;
    padding: 0;
}

#typingBox {
    font-weight: bold;
    font-size: 2rem;
    color: #BABECC;
    text-shadow: 1px 1px 1px #FFF;
}

.textBox .typingCursor {
    background-color: #BABECC !important;
}




.container>.navbar .navbar-brand, .navbar>.container .navbar-brand {
    margin-left: 0;
    width: 100%;
}
.navbar-brand .navbar-item, .navbar-tabs .navbar-item {
    align-items: center;
    display: flex;
}

.navbar-burger {
    display: block !important;
    color: #4a4a4a;
    cursor: pointer;
    height: 3.25rem;
    position: relative;
    width: 3.25rem;
    margin-left: auto;
}

.navbar-menu {
    display: none;
}

.btn {
    border-radius: 8px !important;
    width: auto;
    height: auto;
    display: inline-flex !important;
    justify-content: center !important;
    align-items: center !important;
    box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC !important;
    transition: all 0.2s ease-in-out !important;
    cursor: pointer !important;
    border: none !important;
    background: none !important;
}

.icon {
    padding: 1rem;
}

.btn:hover {
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC !important;
}

.btn.on {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF !important;
}

.input {
    box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
    background: #e9f1f9;
    margin:0;
}

.hero-foot {
    position: relative;
}
.search_box {
    position: absolute;
    top: -3rem;
    z-index: 9999;
    width: 100%;
    display: none;
}

.jk-icon-column {
    text-align: center;
}